* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 70px;
  font-family: "Circular", "CircularStd", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  justify-content: center;
}
header .main-container {
  height: 70px;
  width: 1224px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .main-container .logo-div {
  width: 207px;
}
header .main-container svg {
  height: 30px;
  width: 167px;
}
header .main-container .tab-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 760px;
  padding: 0px 16px;
}
header .main-container .tab-div a{
  text-decoration: none;
  color: #24356A;
}
header .main-container .tab-div .box {
  font-size: 16px;
  font-weight: 400;
  
  display: flex;
  align-items: center;
  height: 60%;
}
header .main-container .tab-div .box i {
  font-size: 13px;
}
header .main-container .tab-div .box:hover {
  color: #ff6100;
}
header .main-container .login-signup {
  display: flex;
  align-items: center;
  width: 177px;
  height: 100%;
}
header .main-container .login-signup .login-btn {
  width: 72px;
  
}
header .main-container .login-signup .login-btn:hover {
  color: #ff6100;
}
header .main-container .login-signup .signup {
  width: 82px;
  background: #ff6100;
  border-radius: 4px;
  text-align: center;
  color: white;
  padding: 8px;
  font-weight: 400;
  cursor: pointer;
}
header .main-container .login-signup .signup:hover{
  background-color: #ff6200a1;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .first-heading{
    font-size: 62px;
    color: rgb(10,21,81);
    font-weight: 700;
    font-family: "Circular", "CircularStd", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 64px;
    text-align: center;
    margin-top: 50px;
}
.main-content .sub-para{
    margin-top: 32px;
    color: rgb(84, 94, 128);
    font-size:28px;
    font-family: "Circular", "CircularStd", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}
.main-content .img-signup {
  display: flex;
  margin: 24px 0px;
}
.main-content .img-signup img {
  height: 324px;
  width: 209;
}
 .sign-up-main{
    width: 400px;
    height: 350px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: "Circular", "CircularStd", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 20px;
    position: relative;
    background-color: white;
}
.sign-up-main i{
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  color: #0070f3;
  margin-right: 20px;
}
.sign-up-main .facebook i{
  padding: 10px 15px;
}
.sign-up-main .google i{
  padding: 10px 12px;
}
 .sign-up-main .google{
    background-color: #0070f3;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
    padding: 13px 10px;
}
 .sign-up-main .facebook{
    background-color: #4267b2;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
    padding: 13px 10px;
    margin: 25px 0px;
}
 .sign-up-main .email{
    background-color: #ff6100;;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
    padding: 13px 10px;
}
 .text{
    position: absolute;
    bottom: 20px;
    left: 40%;
    font-size: 20px;
    color: lightslategray;
}

section .feature-container{
    display: flex;
    justify-content: space-between;
    background-color: #FCF1E1;
    width: 100%;
}
.feature-container img{
    height: 100%;
    width: 100%;
}

.sign-up-container-second{
    background-color: #0C174E;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}
.sign-up-container-second .heading{
    color: white;
    font-size: 38px;
    font-weight: 700;
    font-family: "Circular", "CircularStd", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    margin-top: 90px;
}

.sign-up-container-second .sub-para{
    font-size: 22px;
    color: rgb(166,171,198);
    font-weight: 400;
    font-family: "Circular", "CircularStd", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 30px;
}
footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "Circular", "CircularStd", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
}
footer .footer-first{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-top: 80px;
}
footer .footer-first .main-container .container{
  font-family: "Circular", "CircularStd", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  color: #454E80;
  padding: 10px 0px;
  font-size: 18px;
  cursor: pointer;
}
footer .main-container .container:hover{
  color: #ff6100;
}
footer .footer-first .main-container .heading{
  font-weight: bold;
  color: #0c174e;
  font-weight: 700;
}
footer .footer-first .container img{
  width: 150px;
}

footer .footer-second{
  width: 100%;
  background-color: #f3f3fe;
  display: flex;
  justify-content: center;
}
footer .footer-second .main-container{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0px;
}
footer .footer-second .first-div{
  display: flex;
  align-items: center;
}
footer .footer-second .first-div .logo{
  margin-right: 30px;
}
footer .footer-second .content-div{
  margin: 5px 0px;
}

footer .footer-second .dropdown select{
  border-radius: 5px;
  border: 1px solid #d5ddf9;
  color: #0a1551;
  padding: 10px 8px 10px 9px;
  font-size: 16px;
  width: 150px;
}
footer .footer-third{
  width: 100%;
  background-color: #c8ceed;
  display: flex;
  justify-content: center;
  
}
footer .footer-third .main-container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

footer .footer-third .main-container .box-container{
  display: flex;
  align-items: center;
}
footer .footer-third .main-container .box-container .container{
  border-right: 2px solid #7680b5;
  padding: 5px 16px;
  color: #454E80;
  cursor: pointer;
  font-size: 16px;
}
footer .footer-third .main-container .box-container .container:hover{
  color: #ff6100;
}
.footer-third .main-container .logo-container{
  height: 100%;
  width: 314px;
  display: flex;
  align-items: center;
}
footer .main-container .logo-container .logo-box{
  width:60px;
  height:60px;
  display: flex;
  align-items: center;
  margin: 0px 5px;
}


.sign-up{
  background-color:rgb(97, 105, 135);
  opacity: 1;
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  overflow-y: hidden;
}
.sign-up .sign-up-container{
  font-family: "Circular", "CircularStd", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: white;
  width: 60%;
  height: 70%;
  border-radius: 20px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-up-container .cut{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 5px 15px 0px 0px;
 
}
.sign-up-container .cut i{
  border-radius: 50%;
  background-color: #d5ddf9a4;
  padding: 15px;
  color: #8d96b9;
  font-weight: normal;
  font-size: 20px;
}
.sign-up-container .heading{
  font-size: 24px;
  color: rgb(10,21,81);
  font-weight: 700;
  line-height: 64px;
}
.sign-up-container .sub-heading{
  font-size: 14px;
  line-height: 24px;
  color: rgb(43,50,69);
  font-weight: 400;
  margin-bottom: 30px;
}
.sign-up .sign-up-container .sign-up-main{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #8d96b9;
}
.sign-up .sign-up-container .sign-up-main input{
  height: 30px;
  margin: 10px 0px;
  padding-left: 5px;
  border-radius: 5px;
  border: none;
}
.sign-up .sign-up-container .sign-up-main button{
  height: 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}
.sign-up .sign-up-container .sign-up-main button:hover{
  background-color: #ff6100;
  color: white;
}
.sign-up .sign-up-container .sign-up-main .login{
  margin-top: 10px;
  margin-left: 10px;
}
.sign-up .sign-up-container .sign-up-main .login a{
  text-decoration: none;
  color: #ff6100;
  margin-left: 10px;
}


.log-in{
  background-color:rgb(97, 105, 135);
  opacity: 1 ;
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  overflow-y: hidden;
}
.log-in .sign-up-container{
  font-family: "Circular", "CircularStd", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: white;
  width: 60%;
  height: 70%;
  border-radius: 20px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-up-container .cutLogin{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 5px 15px 0px 0px;
 
}
.sign-up-container .cutLogin i{
  border-radius: 50%;
  background-color: #d5ddf9a4;
  padding: 15px;
  color: #8d96b9;
  font-weight: normal;
  font-size: 20px;
}
.sign-up-container .heading{
  font-size: 24px;
  color: rgb(10,21,81);
  font-weight: 700;
  line-height: 64px;
}
.sign-up-container .sub-heading{
  font-size: 14px;
  line-height: 24px;
  color: rgb(43,50,69);
  font-weight: 400;
  margin-bottom: 30px;
}
.log-in .sign-up-container .sign-up-main{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #8d96b9;
}
.log-in .sign-up-container .sign-up-main input{
  height: 30px;
  margin: 10px 0px;
  padding-left: 5px;
  border-radius: 5px;
  border: none;
}
.log-in .sign-up-container .sign-up-main button{
  height: 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}
.log-in .sign-up-container .sign-up-main button:hover{
  background-color: #ff6100;
  color: white;
}
.log-in .sign-up-container .sign-up-main .login{
  margin-top: 10px;

}
.log-in .sign-up-container .sign-up-main .login a{
  text-decoration: none;
  color: #ff6100;
  margin-left: 10px;
}